@model FeatureInfoViewModel
<h3>Feature Info</h3>
<hr />
<div>
    <table class="table table-hover table-bordered">
    @foreach(var prop in Model.Properties)
    {
        <tr>
            <td>@prop.Name</td>
            <td>@(prop.Value == null ? "(null)" : prop.Value)</td>
        </tr>
    }
    </table>
    @Html.ActionLink("Go back to Home", "TaskPane", "Home", new CommonInvokeUrlRequestModel { MapName = Model.MapName, Session = Model.Session })
</div>