@model ToggleParcelsLayerViewModel
<div>
    <p>Parcels layer @Model.Action.ToString().ToLower()</p>
    @Html.ActionLink("Go back to Home", "TaskPane", "Home")
</div>
@if (Model.RefreshMap)
{
<script type="text/javascript">
    window.onload = function() { parent.parent.Refresh(); }
</script>
}